USE [RealEstateAgency]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 22.03.2024 18:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[MiddleName] [nvarchar](15) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[DealShare] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 22.03.2024 18:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](20) NULL,
	[MiddleName] [nvarchar](15) NULL,
	[LastName] [nvarchar](20) NULL,
	[Phone] [nvarchar](11) NULL,
	[Email] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deal]    Script Date: 22.03.2024 18:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deal](
	[Id] [int] NOT NULL,
	[SalesManId] [int] NULL,
	[BuyerId] [int] NULL,
	[AgentId] [int] NULL,
	[ObjectDemandsId] [int] NULL,
	[OfferId] [int] NULL,
	[PriceServices] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 22.03.2024 18:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Area] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Object]    Script Date: 22.03.2024 18:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Object](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](20) NULL,
	[Address_Street] [nvarchar](30) NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[Coordinate_latitude] [int] NULL,
	[Coordinate_longitude] [int] NULL,
	[TotalArea] [float] NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
	[RealEstateId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectDemands]    Script Date: 22.03.2024 18:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectDemands](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](20) NULL,
	[Address_Street] [nvarchar](30) NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[RealEstateId] [int] NULL,
	[MinPrice] [float] NULL,
	[MaxPrice] [float] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
	[MinArea] [float] NULL,
	[MaxArea] [float] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offer]    Script Date: 22.03.2024 18:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offer](
	[Id] [int] NOT NULL,
	[SalesManId] [int] NULL,
	[RealEstateId] [int] NULL,
	[Address_City] [nvarchar](20) NULL,
	[Address_Street] [nvarchar](30) NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[TotalArea] [float] NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
	[Price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealEstate]    Script Date: 22.03.2024 18:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealEstate](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
GO
INSERT [dbo].[Clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семенов', N'Евгений', N'Николаевич', N'322555', N'')
INSERT [dbo].[Clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', N'', N'dummy@email.ru')
INSERT [dbo].[Clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', N'', N'client@esoft.tech')
GO
INSERT [dbo].[Districts] ([Id], [Name], [Area]) VALUES (1, N'Лесная поляна с/о', N'"((57.0731042147057')
INSERT [dbo].[Districts] ([Id], [Name], [Area]) VALUES (2, N'Марай ', N'"((56.8549652558969')
INSERT [dbo].[Districts] ([Id], [Name], [Area]) VALUES (3, N'Ольховое с/о', N'"((56.9367892844497')
GO
INSERT [dbo].[Object] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [RealEstateId]) VALUES (1, N'Тюмень', N'Энергостроителей', 25, 12, 0, 0, 41.7, 1, 3, 1)
INSERT [dbo].[Object] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [RealEstateId]) VALUES (2, N'Тюмень', N'Елизарова', 8, 44, 0, 0, 105, 3, 5, 1)
INSERT [dbo].[Object] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [RealEstateId]) VALUES (3, N'Тюмень', N'Московский тракт', 139, 6, 0, 0, 62, 3, 2, 1)
GO
INSERT [dbo].[ObjectDemands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [RealEstateId], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (1, N'', N'', NULL, NULL, NULL, NULL, NULL, 4, 23, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ObjectDemands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [RealEstateId], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (2, N'', N'', NULL, NULL, NULL, NULL, NULL, 4, 16, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ObjectDemands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [RealEstateId], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (3, N'', N'', NULL, NULL, NULL, NULL, NULL, 19, 10, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[RealEstate] ([Id], [Name]) VALUES (1, N'Апартаменты')
INSERT [dbo].[RealEstate] ([Id], [Name]) VALUES (2, N'Земля')
INSERT [dbo].[RealEstate] ([Id], [Name]) VALUES (3, N'Дом')
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD FOREIGN KEY([ObjectDemandsId])
REFERENCES [dbo].[ObjectDemands] ([Id])
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD FOREIGN KEY([OfferId])
REFERENCES [dbo].[Offer] ([Id])
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD FOREIGN KEY([SalesManId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Object]  WITH CHECK ADD FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[RealEstate] ([Id])
GO
ALTER TABLE [dbo].[ObjectDemands]  WITH CHECK ADD FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[ObjectDemands]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[ObjectDemands]  WITH CHECK ADD FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[RealEstate] ([Id])
GO
ALTER TABLE [dbo].[Offer]  WITH CHECK ADD FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[RealEstate] ([Id])
GO
ALTER TABLE [dbo].[Offer]  WITH CHECK ADD FOREIGN KEY([SalesManId])
REFERENCES [dbo].[Clients] ([Id])
GO
